{% extends 'main.html' %} {% load static %} {% block meta %}
<title>Appointment | si-IMS</title>
{% endblock meta %} {% block content %}

  <h1 class="text-center">List Appointment</h1>
  <p class="text-center">List appointment yang terdaftar di PT Inter Motor Sport</p>
  
  <br>


  <form method='get' name="form_search">
    <div class="row">
      <div class="col-sm-7">
      </div>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="search_query" maxlength="30" placeholder="Cari berdasarkan nama pelanggan atau status">
      </div>
      <div class="col-sm-1">
        <input type="submit" class="btn btn-warning" value='Search'/>
      </div>
    </div>
  </form>
  
  <br>

  <form method='get' name="form_sort">
    <div class="row">
      <div class="col-sm-7">
      </div>
      <div class="col-sm-4">
        <!-- {{ form_sort }} -->
        <select class="form-select" name="pilihan">
          <option selected>Urutkan Appointment</option>
          <option value="Terbaru">Terbaru</option>
          <option value="Terlama">Terlama</option>
        </select>
      </div>
      <div class="col-sm-1">
        <input type="submit" class="btn btn-warning" value='Urutkan'/>
      </div>
    </div>
  </form>

  <br>

  <table class="table">
    <thead>
      <tr>
        <th>No.</th>
        <th>Waktu</th>
        <th>Pelanggan</th>
        <th>Nomor Polisi</th>
        <th>Nama Mobil</th>
        {% if jabatan == 'Teknisi' %}
          <th>Konfirmasi</th>
        {% else %}
          <th>Teknisi</th>
        {% endif %}
        <th>Aksi</th>
        <th>
          Status
          <span data-toggle="tooltip" data-placement="top" title="
          - Not Ready: Belum ada teknisi yang di-assign
          - On Going: Sudah ada teknisi yang di-assign
          - Approved: Appointment setuju untuk dikerjakan
          - Canceled: Appointment di-cancel pelanggan
          - Finished: Appointment telah selesai dikerjakan dan diconfirm oleh teknisi untuk menuju final inspection
          ">
            <i class="fa fa-info-circle"></i>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
      {% for appoint in appointment %}
        <td>{{ forloop.counter }}.</td>
          <td>{{ appoint.date }} {{ appoint.time }}</td>
          <td>{{ appoint.pelanggan.nama_pelanggan }}</td>
          <td>{{ appoint.pelanggan.nomor_polisi }}</td>
          <td>{{ appoint.pelanggan.nama_mobil }}</td>
          {% if jabatan == 'Teknisi' and appoint.status != 'Finished' %}
            {% if appoint.status != 'Canceled' %}
            <td>
              <a class="btn btn-primary" href="/finished-appointment/{{ appoint.id }}">Confirm</a>
            </td>
            {% else %}
            <td>
              <button type="button" class="btn btn-danger" disabled>Canceled</button>
            </td>
            {% endif %}
          {% elif jabatan == 'Teknisi' and appoint.status == 'Finished' %}
            <td>
              <button type="button" class="btn btn-success" disabled>Done</button>
            </td>  
          {% else %}
            <td>{% if appoint.teknisi %}
                    {{ appoint.teknisi.nama_karyawan }}
                {% else %}
                    Belum Ada        
                {% endif %}
            </td>
          {% endif %}
          <td>
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#Modal{{ appoint.id }}">Detail</button>
            <div class="modal fade" id="Modal{{ appoint.id }}" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="cardModalLabel">Detail Appointment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="col-md-7 px-3">
                      <div class="card-block px-6">                                             
                        <div class="card-body">
                          <h5 class="card-title">
                          </h5>
                          <p class="card-text text-left">
                          <div class="row">
                            <div class="form-group col-md-6">
                              <label for="id_tanggal">Tanggal:</label> 
                              <p>{{ appoint.date }}</p>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="id_waktu">Waktu:</label> 
                              <p>{{ appoint.time }}</p>
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="form-group col-md-6">
                              <label for="id_nama_pelanggan">Pelanggan:</label> 
                              <p>{{ appoint.pelanggan.nama_pelanggan }}</p>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="id_telepon_pelanggan">Nomor Polisi:</label> 
                              <p>{{ appoint.pelanggan.nomor_polisi }}</p>
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="form-group col-md-6">
                              <label for="id_jenis_mobil">Jenis mobil:</label> 
                              <p>{{ appoint.pelanggan.jenis_mobil }}</p>
                            </div>
                            <br>
                            <div class="form-group col-md-6">
                              <label for="id_nama_mobil">Nama mobil:</label> 
                              <p>{{ appoint.pelanggan.nama_mobil }}</p>
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="form-group col-md-12">
                              <label for="id_keluhan">Keluhan:</label> 
                              <p>{{ appoint.keluhan }}</p>
                            </div>
                          </div></p>
                        </div>
                      </div>   
                    </div>
                  </div>
          
                  <div class="modal-footer">
                    {% if appoint.teknisi %}
                      {% if initial %}
                        {% if appoint in appointment_initial_inspection %}
                          <a class="btn btn-success" href="/detail-initial-inspection/{{ appoint.id }}">Initial Inspection</a>
                        {% else %}
                          {% if jabatan == 'Admin' or jabatan == 'Service Advisor' or jabatan == 'Teknisi' or jabatan == 'Inventori' %}
                            <a class="btn btn-success" href="/create-initial-inspection/{{ appoint.id }}">Initial Inspection</a>
                          {% endif %}
                        {% endif %}
                      {% else %}
                        {% if jabatan == 'Admin' or jabatan == 'Service Advisor' or jabatan == 'Teknisi' or jabatan == 'Inventori' %}
                          <a class="btn btn-success" href="/create-initial-inspection/{{ appoint.id }}">Initial Inspection</a> 
                        {% endif %}
                      {% endif %}
                    {% endif %}
                    
                      {% if appoint.status == 'Finished' %}
                        {% if final %}
                          {% if appoint in appointment_final_inspection %}
                            <a class="btn btn-warning" href="/verify-final-inspection/{{ appoint.id }}">Final Inspection</a>
                          {% else %}
                            {% if jabatan == 'Admin' or jabatan == 'Teknisi' %}
                              <a class="btn btn-warning" href="/create-final-inspection/{{ appoint.id }}">Final Inspection</a>
                            {% endif %}
                          {% endif %}
                        {% else %}
                          {% if jabatan == 'Admin' or jabatan == 'Teknisi' %}
                            <a class="btn btn-warning" href="/create-final-inspection/{{ appoint.id }}">Final Inspection</a>
                          {% endif %} 
                        {% endif %}
                      {% endif %}
                  

                    <!-- {% if jabatan == 'Service Advisor' %}
                      {% if appoint.status == 'Finished' %}
                        {% if final %}
                          {% if appoint in appointment_final_inspection %}
                            <a class="btn btn-warning" href="/verify-final-inspection/{{ appoint.id }}">Final Inspection</a>
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endif %} -->
                    
                    {% if appoint in appointment_initial_inspection %}
                      {% if appoint.services.exists %}
                        <a class="btn btn-info" href="/service-appointment/{{ appoint.id }}">Service</a>
                      {% else %}
                        {% if jabatan == 'Admin' or jabatan == 'Service Advisor' or jabatan == 'Teknisi' or jabatan == 'Inventori' %}
                          <a class="btn btn-info" href="/possible-service/{{ appoint.id }}">Service</a>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                      

                    {% if jabatan == 'Admin' or jabatan == 'Service Advisor' %}
                      {% if appoint.status != 'Finished' and appoint.status != 'Approved' %}
                        <a class="btn btn-warning" href="/update-appointment/{{ appoint.id }}">Update</a>
                      {% endif %}
                    {% endif %}

                    {% if jabatan == 'Admin' or jabatan == 'Service Advisor' %}
                      <a class="btn btn-danger" href="/delete-appointment/{{ appoint.id }}" onclick="return confirm('Apakah Anda yakin untuk menghapus item ini?');">Delete</a>        
                    {% endif %}

                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Kembali</button>
                  </div>
                </div>
              </div>
              </div>            
          </td>
          <td>{{ appoint.status }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="7">Tidak ada appointment.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="bs-example">
    <button type="button" class="btn btn-outline-primary" onclick="history.back()">Kembali</button>
  </div>

  <script>
      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      })
  </script>

{% endblock content %}
          