{% extends 'main.html' %} {% load static %} {% block meta %}
<title>Appointment | si-IMS</title>
{% endblock meta %} {% block content %}

  <h1 class="text-center">List Services Appointment</h1>
  <p class="text-center">List possible service pada appointment dengan ID {{ appointment.id }}</p>

  <br>

  <table class="table">
    <thead>
      <tr>
        <th>No.</th>
        <th>Service</th>
        <th>Status Sparepart</th>
        {% if appointment.status == "Approved" %}
        <th>Kendala</th>
      
        {% elif appointment.status == "Finished"  %}
          {% for sa in service_appointment %}
          {% for k in kendala %}
            {% if sa.appointment_id == appointment.id %}
              {% if sa.id == k.appointment_service_id %}
                <th>Kendala</th>
              {% endif %}
            {% endif %}
          {% endfor %}
          {% endfor %}
        {% endif %}
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for service in services %}
          <td>{{ forloop.counter }}.</td>
          <td>{{ service.nama }}</td>

          {% if service.id in service_ids_baru %}

            {% for key, value in status_sparepart.items %}

              {% if service.id == key %}
              <td>{{ value }}</td>
              {% endif %}
              
            {% endfor %}
          {% else %} 
            <td>Belum ada sparepart yang terhubung</td>
          {% endif %}
          
          <td>
            {% if appointment.status == "Approved" %}
              {% for sa in service_appointment %}
                {% if sa.appointment_id == appointment.id and sa.service_id == service.id %}
                  {% if sa in service_kendala %}
                    {% for k in kendala %}
                      {% if sa.id == k.appointment_service_id %}
                          <a class="btn btn-success" href="/detail-kendala/{{ k.id }}">Kendala detail</a>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                      <a class="btn btn-primary" href="/create-kendala/{{ sa.id }}">Create Kendala</a>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% elif appointment.status == "Finished"  %}
              {% for sa in service_appointment %}
                  {% if sa.appointment_id == appointment.id and sa.service_id == service.id %}
                      {% for k in kendala %}
                        {% if sa.id == k.appointment_service_id %}
                            <a class="btn btn-success" href="/detail-kendala/{{ k.id }}">Kendala detail</a>
                        {% endif %}
                      {% endfor %}
                  {% endif %}
              {% endfor %}
            {% endif %}
          </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="7">Tidak ada service.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% if all_cukup == False %}
  <p>Terdapat stok spare part yang kurang! Appointment dapat dilanjutkan ketika stok spare part sudah mencukupi</p>
  {% endif %}
  <div class="bs-example">
    <button type="button" class="btn btn-outline-primary" onclick="history.back()">Kembali</button>
    {% if appointment.status != "Finished" %}
    <a class="btn btn-warning" href="/possible-service/{{ appointment.id }}">Edit</a>
    {% endif %}
    {% if all_cukup %}
    <a class="btn btn-success" href="/estimasi-appointment/{{ appointment.id }}">Cek Estimasi</a>
    {% endif %}
  </div>
{% endblock content %}