{% extends 'main.html' %} {% load static %} {% block meta %}
<title>Dashboard | si-IMS</title>
{% endblock meta %} {% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Appointment Chart</title>
    <h1 align="center">Dashboard si-IMS</h1>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-24">
                <div class="text-center mb-4">
                    <br>
                    <div class="row justify-content-center">
                        <div class="col">
                            <p><strong>Appointment :</strong></p>
                            <a class="btn btn-outline-primary" href="/dashboard-appointment-date/">Date</a>
                            <a class="btn btn-success" href="/dashboard-appointment-week/">Week</a>
                            <a class="btn btn-outline-primary" href="/dashboard-appointment-month/">Month</a>
                        </div>
                        <div class="col">
                            <p><strong>Customer :</strong></p>
                            <form method="GET" action="{% url 'appointment_chart_top_customers' %}">
                                <div class="d-flex">
                                    <input class="form-control me-sm-2" type="number" id="num_top_customers" name="num_top_customers" value="5" min="1">
                                    <input class="btn btn-outline-primary" type="submit" value="Show">
                                </div>
                            </form>
                        </div>
                        <div class="col">
                            <p><strong>Teknisi :</strong></p>
                            <form method="GET" action="{% url 'appointment_chart_top_karyawan' %}">
                                <div class="d-flex">
                                    <input class="form-control me-sm-2" type="number" id="num_top_karyawan" name="num_top_karyawan" value="5" min="1">
                                    <input class="btn btn-outline-primary" type="submit" value="Show">
                                </div>
                            </form>
                        </div>
                        <div class="col">
                            <p><strong>Sparepart :</strong></p>
                                <a class="btn btn-outline-primary" href="/dashboard-sparepart-stok">Stok</a>
                        </div>
                    </div>
                    <br>
                </div>                
                <div class="card">
                    <div class="card-body">
                        <canvas id="appointmentChart" width="15" height="5"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var labels = JSON.parse('{{ labels|safe }}');
            var data = JSON.parse('{{ data|safe }}');

            var ctx = document.getElementById('appointmentChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Appointment',
                        data: data,
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            precision: 0,
                            ticks: {
                                stepSize: 1,
                                callback: function (value, index, values) {
                                    if (Number.isInteger(value)) {
                                        return value;
                                    }
                                }
                            }
                        }
                    }
                }
            });
        });
    </script>
</body>
</html>
{% endblock content %}
