<!DOCTYPE html>
<html lang="en">

<!-- {% load static %} -->

{% block meta %}
<title>SI-IMS</title>
{% endblock meta %}

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'landingpage/style.css' %}"> -->

</head>
<body>
    <h1 class="move">Welcome to SI-IMS</h1>
    <div class="container">
        <a href="/login" class="btn1 effect01">Login</a>
        <a href="register" class="btn1 effect01">Register</a>
    </div>

</body>
</html>
