{% extends 'main.html' %} {% load static %} 
{% block meta %}
<title>Final Inspection | si-IMS</title>
{% endblock meta %} {% block content %}
  <style>
    .required:after {
      content:" *";
      color: red;
    }
  </style>
  <h1 class="text-center">Final Inspection</h1>
  <br>
  <div class="container">
    <h3>Informasi Kendaraan Awal</h3>
    <img src="https://cdn.discordapp.com/attachments/896935170333081613/1097355208859852832/Initial_Inspection.png" alt="Gambar Report Mobil"> 
    <div class="row">
      <div class="col-md-6">
      <table class="table">
      <h5><strong>Front Side</strong></h5>
      <tbody>
        <tr>
          <td>1.</td>
          {% if inspection.front_1 %}
            <td>Rusak</td>
          {% else %}
            <td>Ada</td>
          {% endif %}
        </tr>
        <tr>
          <td>2.</td>
          {% if inspection.front_2 %}
            <td>Rusak</td>
          {% else %}
            <td>Ada</td>
          {% endif %}
        </tr>
        <tr>
          <td>3.</td>
          {% if inspection.front_3 %}
            <td>Rusak</td>
          {% else %}
            <td>Ada</td>
          {% endif %}
        </tr>
        <tr>
          <td>4.</td>
          {% if inspection.front_4 %}
            <td>Rusak</td>
          {% else %}
            <td>Ada</td>
          {% endif %}
        </tr>
        <tr>
          <td>5.</td>
          {% if inspection.front_5 %}
            <td>Rusak</td>
          {% else %}
            <td>Ada</td>
          {% endif %}
        </tr>
        </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table">
        <h5><strong>Back Side</strong></h5>
        <tbody>
          <tr>
            <td>6.</td>
            {% if inspection.front_6 %}
              <td>Rusak</td>
            {% else %}
              <td>Ada</td>
            {% endif %}
          </tr>
          <tr>
            <td>7.</td>
            {% if inspection.front_7 %}
              <td>Rusak</td>
            {% else %}
              <td>Ada</td>
            {% endif %}
          </tr>
          <tr>
            <td>8.</td>
            {% if inspection.front_8 %}
              <td>Rusak</td>
            {% else %}
              <td>Ada</td>
            {% endif %}
          </tr>
          <tr>
            <td>9.</td>
            {% if inspection.front_9 %}
              <td>Rusak</td>
            {% else %}
              <td>Ada</td>
            {% endif %}
          </tr>
          <tr>
            <td>10.</td>
            {% if inspection.front_10 %}
              <td>Rusak</td>
            {% else %}
              <td>Ada</td>
            {% endif %}
          </tr>
        </tbody>
        </table>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
      <table class="table">
        <h5><strong>Passenger Side</strong></h5>
        <tbody>
          <tr>
            <td>11.</td>
            {% if inspection.passenger_11 %}
              <td>Rusak</td>
            {% else %}
              <td>Ada</td>
            {% endif %}
          </tr>
          <tr>
            <td>12.</td>
            {% if inspection.passenger_12 %}
              <td>Rusak</td>
            {% else %}
              <td>Ada</td>
            {% endif %}
          </tr>
          <tr>
            <td>13.</td>
            {% if inspection.passenger_13 %}
              <td>Rusak</td>
            {% else %}
              <td>Ada</td>
            {% endif %}
          </tr>
          <tr>
            <td>14.</td>
            {% if inspection.passenger_14 %}
              <td>Rusak</td>
            {% else %}
              <td>Ada</td>
            {% endif %}
          </tr>
          <tr>
            <td>15.</td>
            {% if inspection.passenger_15 %}
              <td>Rusak</td>
            {% else %}
              <td>Ada</td>
            {% endif %}
          </tr>
          <tr>
            <td>16.</td>
            {% if inspection.passenger_16 %}
              <td>Rusak</td>
            {% else %}
              <td>Ada</td>
            {% endif %}
          </tr>
          <tr>
            <td>17.</td>
            {% if inspection.passenger_17 %}
              <td>Rusak</td>
            {% else %}
              <td>Ada</td>
            {% endif %}
          </tr>
          <tr>
            <td>18.</td>
            {% if inspection.passenger_18 %}
              <td>Rusak</td>
            {% else %}
              <td>Ada</td>
            {% endif %}
          </tr>
          <tr>
            <td>19.</td>
            {% if inspection.passenger_19 %}
              <td>Rusak</td>
            {% else %}
              <td>Ada</td>
            {% endif %}
          </tr>
        </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <table class="table">
          <h5><strong>Top Side</strong></h5>
          <tbody>
            <tr>
              <td>20.</td>
              {% if inspection.top_20 %}
                <td>Rusak</td>
              {% else %}
                <td>Ada</td>
              {% endif %}
            </tr>
            <tr>
              <td>21.</td>
              {% if inspection.top_21 %}
                <td>Rusak</td>
              {% else %}
                <td>Ada</td>
              {% endif %}
            </tr>
            <tr>
              <td>22.</td>
              {% if inspection.top_22 %}
                <td>Rusak</td>
              {% else %}
                <td>Ada</td>
              {% endif %}
            </tr>
            <tr>
              <td>23.</td>
              {% if inspection.top_23 %}
                <td>Rusak</td>
              {% else %}
                <td>Ada</td>
              {% endif %}
            </tr>
          </tbody>
          </table>
        </div>
      <div class="col-md-4">
        <table class="table">
          <h5><strong>Driver Side</strong></h5>
            <tbody>
              <tr>
                <td>24.</td>
                {% if inspection.driver_24 %}
                  <td>Rusak</td>
                {% else %}
                  <td>Ada</td>
                {% endif %}
              </tr>
              <tr>
                <td>25.</td>
                {% if inspection.driver_25 %}
                  <td>Rusak</td>
                {% else %}
                  <td>Ada</td>
                {% endif %}
              </tr>
              <tr>
                <td>26.</td>
                {% if inspection.driver_26 %}
                  <td>Rusak</td>
                {% else %}
                  <td>Ada</td>
                {% endif %}
              </tr>
              <tr>
                <td>27.</td>
                {% if inspection.driver_27 %}
                  <td>Rusak</td>
                {% else %}
                  <td>Ada</td>
                {% endif %}
              </tr>
              <tr>
                <td>28.</td>
                {% if inspection.driver_28 %}
                  <td>Rusak</td>
                {% else %}
                  <td>Ada</td>
                {% endif %}
              </tr>
              <tr>
                <td>29.</td>
                {% if inspection.driver_29 %}
                  <td>Rusak</td>
                {% else %}
                  <td>Ada</td>
                {% endif %}
              </tr>
              <tr>
                <td>30.</td>
                {% if inspection.driver_30 %}
                  <td>Rusak</td>
                {% else %}
                  <td>Ada</td>
                {% endif %}
              </tr>
              <tr>
                <td>31.</td>
                {% if inspection.driver_31 %}
                  <td>Rusak</td>
                {% else %}
                  <td>Ada</td>
                {% endif %}
              </tr>
              <tr>
                <td>32.</td>
                {% if inspection.driver_32 %}
                  <td>Rusak</td>
                {% else %}
                  <td>Ada</td>
                {% endif %}
              </tr>
            </tbody>
        </table>
      </div>
    </div>
    <tr>
    <br>
    <td>Catatan: </td>
    {% if inspection.catatan %}
      <td>{{ inspection.catatan }}</td>
    {% else %}
      <td>Tidak ada</td>
    {% endif %}
    <br>
    <br>
    <h3>Kondisi Interior Mobil</h3>
    <table class="table">
      <thead>
        <tr>
          <th>No</th>
          <th>Komponen</th>
          <th>Kondisi</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1.</td>
          <td>Karpet</td>
          {% if inspection.karpet %}
            <td>{{ inspection.karpet }}</td>
          {% else %}
            <td>Normal</td>
          {% endif %}
        </tr>
        <tr>
          <td>2.</td>
          <td>Kursi</td>
          {% if inspection.kursi %}
            <td>{{ inspection.kursi }}</td>
          {% else %}
            <td>Normal</td>
          {% endif %}
        </tr>
        <tr>
          <td>3.</td>
          <td>Headliner</td>
          {% if inspection.headliner %}
            <td>{{ inspection.headliner }}</td>
          {% else %}
            <td>Normal</td>
            <td>{{ inspection.headliner }}</td>
          {% endif %}
        </tr>
        <tr>
          <td>4.</td>
          <td>Door Panels</td>
          {% if inspection.door_panels %}
            <td>{{ inspection.door_panels }}</td>
          {% else %}
            <td>Normal</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
    <br>
    <br>
  <h3>Verifikasi Final Inspection</h3>
  <br>
  <form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="appointment" id="appointment" value="{{ appointment.id }}">
    <input type="hidden" name="front_1" id="id_front_1" value="{{inspection.front_1}}">
    <input type="hidden" name="front_2" id="id_front_2" value="{{inspection.front_2}}">
    <input type="hidden" name="front_3" id="id_front_3" value="{{inspection.front_3}}">
    <input type="hidden" name="front_4" id="id_front_4" value="{{inspection.front_4}}">
    <input type="hidden" name="front_5" id="id_front_5" value="{{inspection.front_5}}">
    <input type="hidden" name="back_6" id="id_back_6" value="{{inspection.back_6}}">
    <input type="hidden" name="back_7" id="id_back_7" value="{{inspection.back_7}}">
    <input type="hidden" name="back_8" id="id_back_8" value="{{inspection.back_8}}">
    <input type="hidden" name="back_9" id="id_back_9" value="{{inspection.back_9}}">
    <input type="hidden" name="back_10" id="id_back_10" value="{{inspection.back_10}}">
    <input type="hidden" name="passenger_11" id="id_passenger_11" value="{{inspection.passenger_11}}">
    <input type="hidden" name="passenger_12" id="id_passenger_12" value="{{inspection.passenger_12}}">
    <input type="hidden" name="passenger_13" id="id_passenger_13" value="{{inspection.passenger_13}}">
    <input type="hidden" name="passenger_14" id="id_passenger_14" value="{{inspection.passenger_14}}">
    <input type="hidden" name="passenger_15" id="id_passenger_15" value="{{inspection.passenger_15}}">
    <input type="hidden" name="passenger_16" id="id_passenger_16" value="{{inspection.passenger_16}}">
    <input type="hidden" name="passenger_17" id="id_passenger_17" value="{{inspection.passenger_17}}">
    <input type="hidden" name="passenger_18" id="id_passenger_18" value="{{inspection.passenger_18}}">
    <input type="hidden" name="passenger_19" id="id_passenger_19" value="{{inspection.passenger_19}}">
    <input type="hidden" name="top_20" id="id_top_20" value="{{inspection.top_20}}">
    <input type="hidden" name="top_21" id="id_top_21" value="{{inspection.top_21}}">
    <input type="hidden" name="top_22" id="id_top_22" value="{{inspection.top_22}}">
    <input type="hidden" name="top_23" id="id_top_23" value="{{inspection.top_23}}">
    <input type="hidden" name="driver_24" id="id_driver_24" value="{{inspection.driver_24}}">
    <input type="hidden" name="driver_25" id="id_driver_25" value="{{inspection.driver_25}}">
    <input type="hidden" name="driver_26" id="id_driver_26" value="{{inspection.driver_26}}">
    <input type="hidden" name="driver_27" id="id_driver_27" value="{{inspection.driver_27}}">
    <input type="hidden" name="driver_28" id="id_driver_28" value="{{inspection.driver_28}}">
    <input type="hidden" name="driver_29" id="id_driver_29" value="{{inspection.driver_29}}">
    <input type="hidden" name="driver_30" id="id_driver_30" value="{{inspection.driver_30}}">
    <input type="hidden" name="driver_31" id="id_driver_31" value="{{inspection.driver_31}}">
    <input type="hidden" name="driver_32" id="id_driver_32" value="{{inspection.driver_32}}">
    <!-- <input type="hidden" name="karpet" id="id_karpet" value="id_karpet">
    <input type="hidden" name="kursi" id="id_kursi" value="id_kursi">
    <input type="hidden" name="headliner" id="id_headliner" value="id_headliner">
    <input type="hidden" name="door_panels" id="id_door_panels" value="id_door_panels"> -->
    <input type="hidden" name="catatan" id="id_catatan" value="{{inspection.catatan}}">
    <input type="hidden" name="karpet" id="id_karpet" {% if id_karpet}value="id_karpet"{% else} value=''{%endif}>
    <input type="hidden" name="kursi" id="id_kursi" {% if id_kursi}value="id_kursi"{% else} value=''{%endif}>
    <input type="hidden" name="headliner" id="id_headliner"  {% if id_headliner}value="id_headliner"{% else} value=''{%endif}>
    <input type="hidden" name="door_panels" id="id_door_panels" {% if id_door_panels}value="id_door_panels"{% else} value=''{%endif}>
    <div class="form-group col-md-3">
      <p><strong>Diperiksa:</strong></p>
      <label for="checked">Teknisi Final Inspector</label>
      <input type="checkbox" name="checked" value="checked" id="checked" {% if jabatan != 'Teknisi' %}disabled {% endif %}>
    </div>
    <br>
    <br>
    <div class="form-group col-md-2">
      <p><strong>Disetujui:</strong></p>
      <label for="approved">Service Advisor</label>
      <input type="checkbox" name="approved" value="approved" id="approved" {% if jabatan != 'Service Advisor' %}disabled {% endif %}>
      
    </div>
    <br>
      <!-- <div class="form-group col-md-2">
        <p><strong>Mengetahui:</strong></p>
        <label for="id_front_3">Pemilik/Kuasa Kendaraan</label>
        <input type="checkbox" name="front_3" id="id_front_3">
      </div> -->
      <br>
      <br>
    <div class="bs-example">
      <button type="submit" class="btn btn-primary" onclick="return confirm('Apakah Anda yakin untuk menyimpan formulir ini?');">Verify</button>
      <button type="button" class="btn btn-outline-primary" onclick="history.back()">Kembali</button>
    </div>
</form>
{% endblock content %}