{% extends 'main.html' %} {% load static %} {% block meta %}
<title>Services | si-IMS</title>
{% endblock meta %} {% block content %}
    <style>
      .required:after {
        content:" *";
        color: red;
      }
    </style>

    <h1 align="center">Add Kuantitas Spare Parts</h1>
    <p align="center">Pastikan seluruh data sudah terisi dengan benar!</p>

    <br>

<form action="" method="POST">
  {% csrf_token %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th width="10">No.</th>
                <th>Nama Spare Parts</th>
            </tr>
        </thead>
        <tbody>
        {% for n in nama_spare_part %}
        <tr>
          <td>{{ forloop.counter }}.</td>
          <td>{{ n }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ formset.management_form }}
        {% for form in formset %}
        {{ form.as_p }}
        {% endfor %}
    <br>
    <br>
  <button type="submit" class="btn btn-primary" onclick="return confirm('Apakah Anda yakin untuk menyimpan formulir ini?')">Submit</button>
</form>

{% endblock content %}