<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            font-family: 'Nunito';
        }
        
        h1 {
          font-weight: bolder;
        }

        p {
          font-size: large;
        }

        .navbar-brand {
          color: red;
        }

        form {
          margin-left: 5%;
          margin-right: 5%;
        }
    </style>
  <title>Services | si-IMS</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">si-IMS</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Appointment</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Add Appointment</a>
                            <a href="#" class="dropdown-item">List Appointment</a>
                        </div>
                    </li>
                </ul>

                <ul class="nav navbar-nav">
                  <li class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pelanggan</a>
                      <div class="dropdown-menu">
                          <a href="/create-pelanggan/" class="dropdown-item">Add Pelanggan</a>
                          <a href="#" class="dropdown-item">List Pelanggan</a>
                      </div>
                  </li>
                </ul>

                <ul class="nav navbar-nav">
                  <li class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Karyawan</a>
                      <div class="dropdown-menu">
                          <a href="/create-karyawan/" class="dropdown-item">Add Karyawan</a>
                          <a href="#" class="dropdown-item">List Karyawan</a>
                      </div>
                  </li>
              ` </ul>

                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Spare Part</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Add Spare Part</a>
                            <a href="#" class="dropdown-item">List Spare Part</a>
                        </div>
                    </li>
                </ul>

                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                        <div class="dropdown-menu">
                            <a href="/create-services/" class="dropdown-item">Add Services</a>
                            <a href="#" class="dropdown-item">List Services</a>
                        </div>
                    </li>
                </ul>
                <!-- <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">User</a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item">Reports</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">Logout</a>
                        </div>
                    </li>
                </ul> -->
            </div>
        </div>
    </nav>  
    <br>
    <h1 align="center">Add Jenis Services</h1>
    <p align="center">Pastikan seluruh data sudah terisi dengan benar!</p>
    
    <br> 

    <form action="/action_page.php">
      <div class="row">
        <div class="form-group col-md-4">
          <label for="namas">Nama Jenis Services:</label>
          <input type="text" class="form-control" id="namas" placeholder="cth: Ganti Oli" name="namas" required>
        </div>
        <div class="form-group col-md-4">
          <label for="hargas">Harga:</label>
          <input type="number" class="form-control" id="hargas" placeholder="cth: Rp150.000,-" name="hargas" required>
        </div>
        <div class="form-group col-md-4">
          <label for="estimasi">Estimasi Pengerjaan:</label>
          <input type="number" class="form-control" id="estimasi" placeholder="cth: 3 Hari" name="estimasi" required>
        </div>
      </div>
      <br>
      <div class="form-group col-md-12">
        <label for="arum">Alamat Rumah:</label>
        <input type="text" class="form-control" id="arum" placeholder="Alamat" name="arum" required>
      </div>
      <br>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="sparepart">Kebutuhan Spare Part:</label>
          <select class="form-select" required>
            <option selected>Pilih kebutuhan spare part berikut..</option>
            <option value="1">Busi</option>
            <option value="2">Baut</option>
            <option value="3">Oli</option>
          </select>
        </div>
      </div>
      <br>
      <div class="bs-example">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-outline-primary" onclick="history.back()">Kembali</button>
      </div>
    </form>
</body>

</html> 