{% extends 'main.html' %} {% load static %} {% block meta %}
<title>Services | si-IMS</title>
{% endblock meta %} {% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <style>
        .required:after {
          content:" *";
          color: red;
        }
    </style>

    <h1 align="center">Update Jenis Services</h1>
    <p align="center">Pastikan seluruh data sudah terisi dengan benar!</p>

    <br>

    <form action="" method="POST">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <div class="row">
            <div class="form-group col-md-4">
                <label class="required" for="id_nama">Nama:</label>
                <input type="text" class="form-control" name="nama" value="{{ service.nama }}" maxlength="30" required id="id_nama"
                oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi terlebih dahulu')" oninput="setCustomValidity('')">
            </div>
            <div class="form-group col-md-4">
                <label class="required" for="id_harga">Harga:</label> 
                <input type="text" class="form-control" name="harga" value="{{ service.harga }}" maxlength="10" required id="id_harga"
                oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi terlebih dahulu')" oninput="setCustomValidity('')">
            </div>
            <div class="form-group col-md-4">
                <label class="required" for="id_jumlah_estimasi_pengerjaan">Jumlah Estimasi Pengerjaan:</label>
                <input type="text" class="form-control" name="jumlah_estimasi_pengerjaan" value="{{ service.jumlah_estimasi_pengerjaan }}" maxlength="10" required id="id_jumlah_estimasi_pengerjaan"
                oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi terlebih dahulu')" oninput="setCustomValidity('')">
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="form-group col-md-4">
                <label class="required">Satuan waktu:</label>
                <select class="form-select" name="satuan_waktu">
                    <option {% if service.satuan_waktu == "Menit" %}selected{% endif %} value="Menit">Menit</option>
                    <option {% if service.satuan_waktu == "Jam" %}selected{% endif %} value="Jam">Jam</option>
                    <option {% if service.satuan_waktu == "Hari" %}selected{% endif %} value="Hari">Hari</option>
                    <option {% if service.satuan_waktu == "Minggu" %}selected{% endif %} value="Minggu">Minggu</option>
                    <option {% if service.satuan_waktu == "Bulan" %}selected{% endif %} value="Bulan">Bulan</option>
                  </select>
            </div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="required">Kebutuhan Spare Parts:</label>
            <select name="kebutuhan_spare_part" id="id_kebutuhan_spare_part" class="form-select-ini" multiple data-search="true">
                {% for sparepart in listsparepart %}
                <option value="{{ sparepart.id }}" {% if sparepart in service.kebutuhan_spare_part.all %}selected{% endif %}>{{ sparepart.nama }}</option>
                {% endfor %}
            </select>
                <!-- {{ form.kebutuhan_spare_part }} -->
        </div>
<!--        <div class="form-group">-->
<!--            <label>Kuantitas:</label>-->
<!--            {{ form.quantities }}-->
<!--        </div>-->
        <br>
        <div class="bs-example">
            <button type="submit" class="btn btn-primary">Next</button>
            <button type="button" class="btn btn-outline-primary" onclick="history.back()">Kembali</button>
        </div>
    </form>
    <script>
        $(document).ready(function() {
          $('.form-select-ini').select2({
            width: '100%',
            placeholder: 'Pilih Kebutuhan Spareparts',
            closeOnSelect: false,
            allowClear: true,
          });
        });
    </script>

{% endblock content %}