{% extends 'main.html' %} {% load static %} 
{% block meta %}
<title>Kendala | si-IMS</title>
{% endblock meta %} {% block content %}
  <style>
    .required:after {
      content:" *";
      color: red;
    }
  </style>

  <h1 align="center">Add Kendala</h1>
  <p align="center">Pengisian Kendala pada Service</p>
  <!-- <p>{{ form.teknisi }}</p> -->
  <br> 
  <form method="post">
    {% csrf_token %}

    <div class="row g-3">
        <input type="hidden" name="appointment_service" value="{{ appointment_service }}">
        <div class="col">
            <label class="required" for="id_deskripsi">Deskripsi:</label> 
            <textarea name="deskripsi" class="form-control" cols="10" rows="5" id="id_deskripsi"
            required oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi terlebih dahulu')" oninput="setCustomValidity('')"></textarea>
        </div>
        <div class="col">
          <div class="row">
            <label for="id_status">Status:</label> 
            <input type="text" class="form-control" name="status" id="id_status" value="{{ status }}" readonly>
          </div>
          <br>
          <div class="row">
            <div class="col">
                <label for="id_jumlah_estimasi_pengerjaan">Jumlah Estimasi Pengerjaan:</label>
                <input type="text" class="form-control" name="jumlah_estimasi_pengerjaan" maxlength="10" required id="id_jumlah_estimasi_pengerjaan"
                oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi terlebih dahulu')" oninput="setCustomValidity('')">
            </div>
            <div class="col">
                <label>Satuan Waktu:</label>
                <select class="form-select" name="satuan_waktu">
                    <option selected>Satuan Waktu</option>
                    <option value="Menit">Menit</option>
                    <option value="Jam">Jam</option>
                    <option value="Hari">Hari</option>
                    <option value="Minggu">Minggu</option>
                    <option value="Bulan">Bulan</option>
                  </select>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="bs-example">
        <button type="submit" class="btn btn-primary" onclick="return confirm('Apakah Anda yakin untuk menyimpan formulir ini?');">Submit</button>
        <button type="button" class="btn btn-outline-primary" onclick="history.back()">Kembali</button>
      </div>
  </form>
{% endblock %}
