{% extends 'main.html' %} {% load static %} {% block meta %}
<title>Karyawan | si-IMS</title>
{% endblock meta %} {% block content %}
  <h1 align="center">Add Karyawan</h1>
  <p align="center">Pastikan seluruh data sudah terisi dengan benar!</p>

  <br> 

  <form action="" method="POST">
    {% csrf_token %}
    <!-- <input type="hidden" name="csrfmiddlewaretoken" value="kCP16eITs3aEZ5QB9RqWYHgxAu3lmVjLD9O8pwyylk5qNHHnb2zxIFXuOBW8fWcd"> -->
    <div class="row">
      <div class="form-group col-md-4">
        <label for="id_username">Username karyawan:</label> 
        <input type="text" class="form-control" name="username" maxlength="30" required="" id="id_username">
      </div>
      <div class="form-group col-md-4">
        <label for="id_password">Password Karyawan:</label> 
        <input type="password" class="form-control" name="password" id="id_password">
        </div>
    <br>
    <div class="row">
      <div class="form-group col-md-4">
        <label for="id_nama_karyawan">Nama karyawan:</label> 
        <input type="text" class="form-control" name="nama_karyawan" maxlength="30" required="" id="id_nama_karyawan">
      </div>
      <div class="form-group col-md-4">
        <label for="id_telepon_karyawan">Telepon karyawan:</label> 
        <input type="number" class="form-control" name="telepon_karyawan" min="-9223372036854775808" max="9223372036854775807" required="" id="id_telepon_karyawan">
        </div>
      <div class="form-group col-md-4">
        <label for="id_email">Email:</label> 
        <input type="email" class="form-control" name="email" maxlength="254" required="" id="id_email" placeholder="example@gmail.com" required>
      </div>
    </div>
    <br>
    <div class="form-group col-md-12">
      <label for="id_alamat_karyawan">Alamat Rumah:</label>
      <textarea name="alamat_karyawan" class="form-control" cols="10" rows="5" required="" id="id_alamat_karyawan"></textarea>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="id_jabatan">Jabatan:</label>
        {{ form.jabatan }}
        <!-- <input type="text" class="form-control" id="jabatan" placeholder="cth: Admin" name="jabatan" required> -->
      </div>
      <div class="form-group col-md-6">
          <label for="id_total_keaktifan">Total Keaktifan:</label>
          <input type="number" class="form-control" id="id_total_keaktifan" placeholder="cth: 0" name="total_keaktifan" required>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="id_kehadiran">Kehadiran:</label>
        {{ form.kehadiran }}
        <!-- <input type="text" class="form-control" id="id_kehadiran" placeholder="cth: Hadir" name="kehadiran" required> -->
      </div>
    </div>
    <br>
    <br>
    <div class="bs-example">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-outline-primary" onclick="history.back()">Kembali</button>
    </div>
  </form>
{% endblock content %}