{% extends 'main.html' %} {% load static %} {% block meta %}
<title>Spare Parts | si-IMS</title>
{% endblock meta %} {% block content %}

    <h1 align="center">Update Spare Part</h1>
    <p align="center">Pastikan seluruh data sudah terisi dengan benar!</p>

    <br>

    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-md-4">
                <label for="id_nama">Nama:</label>
                <input type="text" class="form-control" name="nama" value="{{ sparepart.nama }}" maxlength="30" required id="id_nama"
                oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi terlebih dahulu')" oninput="setCustomValidity('')">
            </div>
            <div class="form-group col-md-4">
                <label for="id_variasi">Variasi:</label>
                <input type="text" class="form-control" name="variasi" value="{{ sparepart.variasi }}" maxlength="30" required id="id_variasi"
                oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi terlebih dahulu')" oninput="setCustomValidity('')">
            </div>
            <div class="form-group col-md-4">
                <label for="id_harga">Harga:</label>
                <input type="text" class="form-control" name="harga" value="{{ sparepart.harga }}" maxlength="10" required id="id_harga"
                oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi terlebih dahulu')" oninput="setCustomValidity('')">
            </div>
            <div class="form-group col-md-4">
                <label for="id_stok">Stok:</label>
                <input type="text" class="form-control" name="estimasi_pengerjaan" value="{{ sparepart.stok }}" maxlength="10" required id="id_stok"
                oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi terlebih dahulu')" oninput="setCustomValidity('')">
            </div>
            <div class="form-group col-md-6">
                <label>Kebutuhan Jenis Services:</label>
                {{ form.services }}
            </div>
        </div>
        <br>
        <br>
        <div class="bs-example">
            <button type="submit" class="btn btn-primary" onclick="return confirm('Apakah Anda yakin untuk menyimpan formulir ini?');">Update</button>
            <button type="button" class="btn btn-outline-primary" onclick="history.back()">Kembali</button>
        </div>
    </form>

{% endblock content %}